* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
}

body {
    margin:0;
    padding:0;
    }
    section{
    height:100%;
    width:100%;
      position:fixed;  background:radial-gradient(#333,#000);
    }
    .leaf{
        position:absolute ;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
    .leaf div{
    position:absolute ;
    display:block ;
    }
    .leaf div:nth-child(1){
        left:20%; 
        animation:fall 15s linear infinite ;
        animation-delay:-2s;
    
    }
    .leaf div:nth-child(2){
        left:70%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    .leaf div:nth-child(3){
        left:10%; 
        animation:fall 20s linear infinite ;
        animation-delay:-7s;
        
    }
    .leaf div:nth-child(4){
        left:50%; 
       animation:fall 18s linear infinite ; 
       animation-delay:-5s;
    }
    .leaf div:nth-child(5){
        left:85%; 
        animation:fall 14s linear infinite ;
        animation-delay:-5s;
    }
    .leaf div:nth-child(6){
        left:15%; 
        animation:fall 16s linear infinite ;
        animation-delay:-10s;
    }
    .leaf div:nth-child(7){
        left:90%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    
    @keyframes fall{
        0%{
            opacity:1;
            top:-10%;
            transform:translateX (20px) rotate(0deg);
        }
        20%{
            opacity:0.8;
            transform:translateX (-20px) rotate(45deg);
        }
        40%{
    
            transform:translateX (-20px) rotate(90deg);
        }
        60%{
            
           transform:translateX (-20px) rotate(135deg); 
        }
        80%{
        
            transform:translateX (-20px) rotate(180deg);
        }
        100%{
            
            top:110%;
            transform:translateX (-20px) rotate(225deg);
        }
        }
    .leaf1{
        transform: rotateX(180deg);
    }
    h2{
        position:absolute ;
        top:40%;
        width:100%;
          font-family: 'Courgette', cursive;
        font-size:4em;
        text-align:center;
        transform:translate ;
        color:#fff;
        transform:translateY (-50%);
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    margin-top: 20px;
}

#form select, #form input {
    background: darkslategray;
    color: #fff;
    outline: none;
}
#form button {
    background-color: #111;
    border: 2px solid #117A8B;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: #111;
    color: #fff;
}

.questions ul li {
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #117A8B;
}

.questions h1 {
    font-size: 17px;
}

#scoreCounter {
    font-size: 30px;
}

#score {
    font-size: 20px;
    background-color: #117A8B;
    padding: 10px 0;
}

.questions .btn{
    background-color: #333;
}

.correctAnswer {
    background: green;
}

.selected {
    background: #333;
}

.questions ul li:hover {
    background-color: #999;
}

.results-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 50vw;
    height: 50vh;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: 3px solid #117A8B;
}

.results-container .btn{
    background-color: #333;
    width: 85%;
}

.ending {
    font-size: 13px;
    font-weight: 300;
}

.result {
    font-size: 25px;
    font-weight: 900;
    color: #117A8B;
}

.none {
    display: none;
}



@media(max-width: 800px) {
    .questions {
        width:90vw;
    }
    .questions ul {
        width: 90%;
    }

    #form {
        width: 90vw;
    }

    .results-container {
        width: 90vw;
        height: 70vh;
        top: 50%;
    }
}